<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="webside icon" type="png" href="/static/favicon/favicon-32x32.png">
    <title>MotoBen</title>
</head>
<body>
    <section>
        <video class="video" id="mis-videos"  src="/static/imagenes/video_publicidad2.mp4" controls autoplay ></video>
        <video class="video" id="mis-videos"  src="/static/imagenes/Margarita Rodríguez .mp4" controls autoplay ></video>
    </section>
      <a class="btn btn-lg btn-primary"  href="{{url_for('login')}}" type="html" role="button">Salir &raquo;</a>

</body>
</html>